.pages {
  margin: 20px 0;
}

.pages button {
  margin-right: 10px;
}
.active {
  -webkit-box-shadow: 0px 0px 8px 2px #e2e1e1;
  -moz-box-shadow: 0px 0px 8px 2px #e2e1e1;
  box-shadow: 0px 0px 8px 2px #e2e1e1;
}
