.sections {
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
}

.sections section:first-child {
  width: 100%;
}
.sections section + section {
  width: 400px;
  border-left: 1px solid #b5b7b7;
}
