.header {
  padding: 20px 40px;
  border-bottom: 1px solid #b5b7b7;
}
.header a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 20px;
}
.logo {
  width: 100%;
}
